/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.opcoes-label-table {
    text-align: right;
    font-size: 0.8em
}

.secao-titulo {
    font-size: 2em
}

.opcoes-label {
    font-size: 1.2em
}

.opcoes-table {
    padding-top: 10px;
    padding-bottom: 10px
}

/* dropdows para a escala do eixo */

#xlog {
    position: absolute;
    width: 4em;
    left: 6.5em;
    bottom: 4em;
}

#ylog {
    position: absolute;
    width: 4em;
    left: 6.5em;
    top: 4em;
}

.axisTipo {
    position: absolute;
    width: 4em;
}

#figdiv {
    position: relative
}
